
  
  * {
    background-color: rgba(246, 246, 246, 0.9);
  }
  .main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
    background-color: rgba(246, 246, 246, 0.9);
    

  }

  

  .grid-container {
    grid-area: menu;
    float: left;
    display: grid;
    grid-template-columns: auto;
    padding: 15px;
  }
  .menu-item {
    transform: skew(-4deg);
    background-color: rgba(78, 157, 248, 0.9);
    border: 5px solid rgba(44, 66, 192, 0.89);
    border-radius: 20px;
    padding: 5px;
    margin: 3%;
    margin-left: 12%;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    animation-name: example;
    animation-play-state: paused;
    animation: example 2s linear;
    position: auto;
    box-shadow: 0 7px #999999;
  }

  #projectButton:active {
    background-color: #4caf50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .menu-item.active {
    background-color: rgba(246, 246, 246, 0.9);
    background-color: #4caf50;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
 
  }
  .menu-item:hover:not(active) {background-color: #00FF66;}
  
  .menu-item > h3 {
    background-color: inherit;
    font-size: 20px;
  }
  .menu-item > h2 {
    background-color: inherit;
    font-size: 30px;
  }
  
  .menu-item > p {
    background-color: rgba(246, 246, 246, 0.9);
  }